body {
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228) padding: 20px
}

section {
    background: rgb(42, 122, 228);
    display: flex
}